# Everything the published extension does not need. The built theme JSON under
# theme/ is the only artefact that has to ship, alongside package.json, the
# README, the changelog and the licences.

src/**
scripts/**
data/**
node_modules/**

.github/**
.vscode/**

.gitignore
.prettierrc.js
.prettierrc.toml
yarn.lock
